body{
    background-color: lightblue;    
}

.innerText{
    width:50%;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

/* テーブル要素の位置関係を崩さないように表示する */
.innerTable{
    width:50%;
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
}

h1{
    color:darkblue;
}

td.text{
    color: darkgreen;
    text-align: right;
    font-weight: bold;
}
